   <p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>
<table class="table table-striped", id= 'myTable'>
  <thead>
    <tr>
      <th>Atm</th> </th>
      <th>Amount</th>
       <th> Type</th>
      <th>Time</th>
     <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
   <% @transactions.each do |transaction| %>
   
     <tr>
        <td><%= transaction.atm_machine_id %></td>
        <td><%= transaction.amount %></td>
         <td><% if transaction.debit==true %>
           <%="Deposit"%>
           <%else%>
           <%="Withdrawal"%>
           
           <%end%></td>
           <td><%=transaction.created_at.in_time_zone('Central Time (US & Canada)')%></td>
     </tr>
    <% end %>
  </tbody>
  
</table>

<br>
<%= link_to 'Back', atm_machine_path(session[:my_atm]),class:"btn btn-danger" %>
</div>


